# ignore the text file with the database connection parameters
db_parameters.txt

# ignore macOS system files
.DS_Store

# ignore data files
data/3DBAG/*.json

data/*/*.gml

data/Holten/

data/lvbag-extract-nl/

data/Rijssen/

data/triangulated/

lvbag-extract-nl.zip

v20230101_v2_csv.csv

# ignore folders
__pycache__/